<?xml version="1.0" encoding="utf-8"?>
<configuration>
</configuration>
<connectionStrings >
    <add
         name="myConnectionString" 
         connectionString="Server=127.0.0.1,1401;Database=jokesapp;User ID=msa;Password=myStrongPassword;Trusted_Connection=False;"
         providerName="System.Data.SqlClient"/>
</connectionStrings>
